body {
  width: 100%;
  height: 100%;
  font-family: "\534E\6587\7EC6\9ED1", "\5FAE\8F6F\96C5\9ED1", "Brandon Text",Avenir,"Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*color: #000;*/
  color: #828e9e;
  background-color: #fff;
}

html {
  width: 100%;
  height: 100%;
  font-weight: 200;
  color: #828e9e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d333b;
  margin: 0 0 35px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  /*font-weight: 700;*/
  letter-spacing: 2px;
}


label{
  color: #2d333b;
  letter-spacing: 1px;
  font-weight: normal;
}


p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

a {
  /*color: #28c3ab;*/
  color: #4a89dc;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration:underline;
  /*color: #176e61;*/
  color: #4a89dc;
}

.light {
  font-weight: 400;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000;
}

.navbar-brand h1{
  display: none;
}

.navbar-brand img{
  width:auto; height:32px;
}

.navbar-brand:focus {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom ul.nav{
  margin-top: 6px;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 24px;
  color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}


.intro {
  display: table;
  width: 100%;
  height: auto;
  color: #fff;
  background-color: #4a89dc;
  vertical-align:bottom;
}

.intro-body {
  /*display: table-cell;*/
  margin-top: 8rem;
}


.subintro {
  /*display: table;*/
  width: 100%;
  padding: 6rem 3rem 4rem 3rem;
  color: #fff;
  background-color: #4a89dc;
  margin-top:50px;
}

img.screenshot {margin:40px 0;}


@media(max-width:767px) {
  .desktop-only {display:none;}

  img.feature-figure{
    width: 50%;
    height:auto;
    margin: 6rem 0;
  }
}


@media(min-width:767px) {

  .mobile-only{display:none;}

  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }


  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    /*background-color: #000;*/
    background-color: #2d333b;
  }

  .navbar-custom.top-nav-collapse {
    /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    border-bottom: none;
    border-radius:0;
  }

  .intro {
    padding-top: 100px;
    /*background: url(/imgs/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-color: #4a89dc;
    /*background-size: 70% auto;*/
  }

  .subintro {
    padding: 10rem 6rem 8rem 6rem;
  }
}


h1.brand-heading {
  font-size: 40px;
  color: #fff;
}

h2.brand-heading {
  color: #fff;
}

.intro-text {
  font-size: 18px;
}

@media(min-width:767px) {
  /*.intro {*/
    /*height: 100%;*/
    /*padding: 0;*/
  /*}*/

  h1.brand-heading {
    font-size: 48px;
  }

  h2.brand-heading {
    margin-bottom: 15px;
  }

}


@media(min-width:767px) {
  .scroll-down-arrow {
    border-bottom: none;
    display: block;
    width: 5rem;
    height: 5rem;
    /*position: absolute;*/
    /*bottom: 4.6rem;*/
    /*left: 50%;*/
    /*margin-left: -2.5rem;*/
    /*border-radius: 50%;*/
    -webkit-transition: .25s;
    transition: .25s;
    cursor: s-resize;
  }
}

.btn-circle {
  width: 42px;
  height: 42px;
  margin-top: 8px;
  margin-left: -10px;
  padding: 5px 10px;
  border: 2px solid #e9573f;
  border-radius: 21px;
  font-size: 22px;
  /*color: #e9573f;*/
  color: #fff;
  background: #e9573f;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color:  #e9573f;
  background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 20px;
  padding-bottom: 60px;
}

.content-board {
  border-bottom: 2px solid rgba(45,51,59,0.05);
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 100px;
    padding-bottom: 100px;
    /*padding-top: 250px;*/
  }

  .download-section {
    padding: 100px 0;
  }
}

.btn {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  /*-webkit-transition: all .3s ease-in-out;*/
  /*-moz-transition: all .3s ease-in-out;*/
  /*transition: all .3s ease-in-out;*/
}

.btn-default {
  border: 1px solid #2d333b;
  color: #2d333b;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #2d333b;
  outline: 0;
  color: #fff;
  background-color: #2d333b;
}

.btn-default.active {
  border: 1px solid #2d333b;
}

.btn-significent{
  border: 1px solid #e9573f;
  outline: 0;
  color: #fff;
  background-color: #e9573f;
}

.btn-significent:hover,
.btn-significent:focus{
  color: #fff;
}

.btn-huge {
  padding: 25px;
  font-size: 26px;
}

.banner-social-buttons {
  margin-top: 0;
}

.feature-caption h2{
  font-weight: normal;
  color: #2d333b;
  margin: 0 0 2.2rem 0;
  font-size:3.2rem;
}



@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.colophon, .content:after {
  height: 15rem;
}

footer.simple{
  font-size: 14px;
  text-align: center;
  margin: 20rem 0 10rem 0;
}

.colophon {
  position: relative;
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 15rem;
  background: #f7f8f9;
  border-top: 2px solid #e2e6e8;
  vertical-align: middle;
}

.case-study{
  padding: 10px;
  color: #fff;
  font-size:18px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
  letter-spacing: 2px;
  margin-bottom:15px;
  background-size: cover;
  background-position: center center;
}

.sitecounter {display:none;}

.shadow-overlay{
  -webkit-box-shadow: 0px -10px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px -10px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px -10px 20px 0px rgba(50, 50, 50, 0.75);
}

.panel-case-study .panel-heading{
  background: #fff;
  padding: 36px 36px 16px 36px;
}

.panel-case-study .panel-body{
  background: #fafafa;
}

.panel-case-study .panel-footer{
  background: #fafafa;
  border-top: none;
  padding: 20px;
}

.panel-case-study .panel-heading h2{
  font-weight: 700;
  font-size:36px;
  margin:5px 0 10px 0;
}

.panel-case-study .panel-heading p{
  margin: 0;
}

img.app-icon {
  width:88px;
  height:auto;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.75);
}

.carousel-inner{
  color: #333;
  font-size: 16px;
  line-height: 28px;
}

.user-form .form-group{
  padding: 1rem;
  margin: 2rem;
}

#recaptcha_response_field{
  border-radius: 6px;
  padding: 10px 16px;
  line-height: 1.33;
  height:46px;
}

