<html lang="en">
  <head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gama - 高效渲染引擎, 快速开发手机应用. Gama Tools and SDK boots your productivity in game development">
    <meta name="author" content="Gama Labs">
    <script src="../public/js/jquery-1.10.2.js"></script>
    <link href="../public/imgs/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../public/css/unauth.css" rel="stylesheet">
    <title>用户登录 - Gama 快速游戏开发平台</title>
  </head>
  <body  style="background:#e7e7e7 url(../public/imgs/gn_contenton_bg.gif) repeat-x left top;" youdao="bind">
    <div class="container"
      <div style="margin: 10rem 0 6rem 0;" class="text-center">
        <a href="index.html">
          <img src="../public/imgs/gama_logo.gif">
        </a>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default panel-case-study">
          <div class="panel-heading">
            <p class="lead">使用本站帐号登录</p>
          </div>
        <div class="panel-body">
          <div class="messages" id="result_message">
          </div>
          <form id="post_session_form" action="#" method="post" class="user-form form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 input-lg control-label">
                Email:
              </label>
              <div class="col-sm-9">
                <div class="controls">
                  <input id="email" type="text" name="email" placeholder="Email" class="input-lg form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 input-lg control-label">
                密码:
              </label>
              <div class="col-sm-9">
                <div class="controls">
                  <input id="password" type="password" name="password" placeholder="Password" class="input-lg form-control">
                </div>
                <div class="text-right">
                  <a href="#" id="forgot_url">忘记密码?</a>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 input-lg col-sm-9">
                <button type="button" class="btn-lg btn btn-default" onclick="javascript:login()">登录</button>
              </div>
            </div>
          </form>
          <div style="margin-top:5rem;" class="row">
            <div class="col-sm-offset-3 col-sm-9 text-right">
              <a href="#" id="signup_url">按这里</a><span class="text-muted">注册本站帐号</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="simple">© 2014 Gama Labs. All rights reserved.
</footer>
</body>
</html>
