doctype html
html(lang='en')
  head
    title 用户登录  Gama 快速游戏开发平台


  body(style="background:#e7e7e7 url(/imgs/gn_contenton_bg.gif) repeat-x left top;")
    .container
      .text-center(style="margin: 10rem 0 6rem 0;")
        a(href="/")
          img(src="/imgs/gama_logo.gif")
      .row
        .col-lg-6.col-lg-offset-3

          .panel.panel-default.panel-case-study
            .panel-heading
              p.lead 使用本站帐号登录
            .panel-body

              .messages

              form.user-form.form-horizontal(action="/users/session", method="post")
                .form-group
                  label.col-sm-3.input-lg.control-label Email:
                  .col-sm-9
                    .controls
                      input.input-lg.form-control#email(type='text', name="email", placeholder='Email')

                .form-group
                  label.col-sm-3.input-lg.control-label 密码:
                  .col-sm-9
                    .controls
                      input.input-lg.form-control#password(type='password', name="password", placeholder='Password')
                    .text-right
                      a(href="/forgot_password") 忘记密码?

                //.form-group
                  //script(type='text/javascript').
                    //var RecaptchaOptions = {
                      //theme : 'clean'
                    //};

                  //.col-sm-12
                    //// google recaptcha
                    //!=item

                .form-group
                  .col-sm-offset-3.input-lg.col-sm-9
                    button.btn-lg.btn.btn-default(type='submit') 登录

              .row(style="margin-top:5rem;")
                .col-sm-offset-3.col-sm-9.text-right
                  a(href="/signup") 按这里
                  span.text-muted 注册本站帐号



